name: Export add-on to Crowdin

on:

  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  crowdinProjectID: ${{ vars.CROWDIN_ID }}
  crowdinAuthToken: ${{ secrets.CROWDIN_TOKEN }}
  downloadTranslationsBranch: downloadL10n
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout add-on
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install gettext
        run: |
          sudo apt update
          sudo apt install gettext
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Build add-on and pot file
        run: |
          uv run scons
          uv run scons pot
      - name: Get add-on info
        id: getAddonInfo
        run: uv run ./.github/workflows/setOutputs.py
      - name: Upload md from scratch
        if: ${{ steps.getAddonInfo.outputs.shouldAddMdFromScratch == 'true' }}
        run: |
          mv readme.md ${{ steps.getAddonInfo.outputs.addonId }}.md
          uv run ./_l10n/source/l10nUtil.py uploadSourceFile --localFilePath=${{ steps.getAddonInfo.outputs.addonId }}.md
      - name: update md
        if: ${{ steps.getAddonInfo.outputs.shouldUpdateMd == 'true' }}
        run: |
          mv readme.md ${{ steps.getAddonInfo.outputs.addonId }}.md
          uv run ./_l10n/source/crowdinSync.py uploadSourceFile ${{ steps.getAddonInfo.outputs.addonId }}.md
      - name: Upload pot from scratch
        if: ${{ steps.getAddonInfo.outputs.shouldAddPotFromScratch == 'true' }}
        run: |
          uv run ./_l10n/source/l10nUtil.py uploadSourceFile --localFilePath=${{ steps.getAddonInfo.outputs.addonId }}.pot
      - name: Update pot
        if: ${{ steps.getAddonInfo.outputs.shouldUpdatePot == 'true' }}
        run: |
          uv run ./_l10n/source/crowdinSync.py uploadSourceFile ${{ steps.getAddonInfo.outputs.addonId }}.pot
      - name: Commit and push json
        id: commit
        run: |
          git config --local user.name github-actions
          git config --local user.email github-actions@github.com
          git status
          git add *.json
          if git diff --staged --quiet; then
          echo "Nothing added to commit."
          else
          git commit -m "Update Crowdin file ids and hashes"
          git push
          fi
      - name: Download translations from Crowdin
        run: |
          git push
          git checkout -b env.downloadTranslationsBranch
          uv run utils/l10nUtil.py exportTranslations -o _addonL10n
          for poFile in _addonL10n/${{ steps.getAddonInfo.outputs.addonId }}/*/nvda.po; do
            langCode=$(basename $(dirname $poFile))
            mkdir -p addons/locale/$langCode/LC_MESSAGES
            mv $poFile addons/locale/$langCode/LC_MESSAGES
            done
            for mdFile in _addonL10n/${{ steps.getAddonInfo.outputs.addonId }}/*/${{ steps.getAddonInfo.outputs.addonId }}.md; do
            langCode=$(basename $(dirname $mdFile))
            mkdir -p addons/doc/$langCode
            mv $mdFile addons/doc/$langCode/readme.md
            done
          git add addons/locale addons/doc
          git commit -m "Download translations for ${{ steps.getAddonInfo.outputs.addonId }}"
          git push --set-upstream origin env.downloadTranslationsBranch
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Download translations for ${{ steps.getAddonInfo.outputs.addonId }}
          branch: env.downloadTranslationsBranch
          title: Translations for ${{ steps.getAddonInfo.outputs.addonId }}
          body: This PR includes the latest translations from Crowdin for the add-on ${{ steps.getAddonInfo.outputs.addonId }}.
  