name: Export add-on to Crowdin

on:

  workflow_dispatch:
    inputs:
      update:
        description: 'true to update preexisting sources, false to add them from scratch'
        type: boolean
        required: false
        default: true
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout add-on
        uses: actions/checkout@v6
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install scons markdown
          sudo apt update
          sudo apt install gettext
      - name: Build add-on and pot file
        run: |
          scons
          scons pot
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Get add-on info
        id: getAddonInfo
        shell: python
        run: |
          import os, sys, hashlib, json
          sys.path.insert(0, os.getcwd())
          import buildVars
          addonId = buildVars.addon_info["addon_name"]
          i18nSources = buildVars.i18nSources
          hasher = hashlib.sha256()
          if os.path.isfile("readme.md"):
            with open("readme.md", "rb") as f:
              while chunk := f.read(8192):
                hasher.update(chunk)
            readmeSha = hasher.hexdigest()
          hasher = hashlib.sha256()
          for file in i18nSources:
            if os.path.isfile(file):
              with open(file, "rb") as f:
                while chunk := f.read(8192):
                  hasher.update(chunk)
          i18nSourcesSha = hasher.hexdigest()
          l10nfile = "_l10n/l10n.json"
          with open(l10nfile, "r") as f:
            data = json.load(f)
          shouldUpdateXliff = (data.get("readmeSha") == readmeSha)
          shouldUpdatePot = (data.get("i18nSourcesSha") == i18nSourcesSha)
          name = 'addonId'
          value = addonId
          name0 = 'shouldUpdateXlif'
          value0 = shouldUpdateXliff
          name1 = 'shouldUpdatePot'
          value1 = shouldUpdatePot
          with open(os.environ['GITHUB_OUTPUT'], 'a') as f:
            f.write(f"{name}={value}\n{name0}={value0}\n{name1}={value1}")
          if shouldUpdateXliff or shouldUpdatePot:
            data["readmeSha"] = readmeSha
            data["i18nSourcesSha"] = i18nSourcesSha
            with open(l10nfile, "w") as f:
              json.dump(data, f, ensure_ascii=False)
            print (data)
      - name: Generate xliff and pot
        if: ${{ !inputs.update }}
        run: |
          uv run ./_l10n/markdownTranslate.py generateXliff -m readme.md -o ${{ steps.getAddonInfo.outputs.addonId }}.xliff
          uv run scons pot
          uv run ./_l10n/l10nUtil.py uploadSourceFile --localFilePath=${{ steps.getAddonInfo.outputs.addonId }}.xliff
          uv run ./_l10n/l10nUtil.py uploadSourceFile --localFilePath=${{ steps.getAddonInfo.outputs.addonId }}.pot
      - name: update xliff
        if: ${{ inputs.update && steps.getAddonInfo.inputs.shouldUpdateXliff }}
        run: |
          uv run ./_l10n/markdownTranslate.py updateXliff -x ${{ steps.getAddonInfo.outputs.addonId }}.xliff -m readme.md -o ${{ steps.getAddonInfo.outputs.addonId }}.xliff.temp
          uv run mv ${{ steps.getAddonInfo.outputs.addonId }}.xliff.temp ${{ steps.getAddonInfo.outputs.addonId }}.xliff
          uv run ./_l10n/crowdinSync.py uploadSourceFile ${{ steps.getAddonInfo.outputs.addonId }}.xliff
        env:
          crowdinProjectID: ${{ vars.CROWDIN_ID }}
          crowdinAuthToken: ${{ secrets.CROWDIN_TOKEN }}
      - name: Update pot
        if: ${{ inputs.update && steps.getAddonInfo.outputs.shouldUpdatePot }}
        run: |
          uv run scons pot
          uv run ./_l10n/crowdinSync.py uploadSourceFile ${{ steps.getAddonInfo.outputs.addonId }}.pot
        env:
          crowdinProjectID: ${{ vars.CROWDIN_ID }}
          crowdinAuthToken: ${{ secrets.CROWDIN_TOKEN }}

      - name: Commit and push json file
        id: commit
        run: |
          git config --local user.name github-actions
          git config --local user.email github-actions@github.com
          git status
          git add _l10n/l10n.json
          if git diff --staged --quiet; then
          echo "Nothing added to commit."
          echo "has_changes=false" >> $GITHUB_OUTPUT
          else
          echo "has_changes=true" >> $GITHUB_OUTPUT
          git commit -m "Update Crowdin file ids"
          git push
          fi
